@charset "UTF-8";

* {
    margin: 0;
    padding: 0;


}
body {
    min-height: 100%;
    background-color: darkgray;
}

a {
    padding: 5px;
    text-decoration: none;
    color: grey;
}

a:hover {
    background: rgba(128, 128, 128, 0.2);
    border-radius: 10px;
    text-decoration: underline;
    transition-duration: 0.25s ;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 25px;
    padding-bottom: 25px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 25px;
}

section {
    padding: 10vh 0vh 10vh 20px;
    line-height: 1.5em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: grey;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.25);
}

footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}
